<div class="product-container">
  <div class="meal-type-switcher-container">
    <custom-icon
      [iconData]="arrowLeft"
      [ngClass]="{ disabled: currentMealIndex === 0 }"
      (click)="prevMeal()"
    ></custom-icon>
    <span>{{ mealType | translate }}</span>
    <custom-icon
      [iconData]="arrowRight"
      [ngClass]="{ disabled: currentMealIndex === 2 }"
      (click)="nextMeal()"
    ></custom-icon>
  </div>

  <div class="product-list custom-card">
    <div class="list">
      <div
        class="product-item-container"
        *ngFor="let product of dietProductItems"
      >
        <div class="row">
          <div class="col-2">
            <div
              class="icon-container custom-card"
              [ngStyle]="{ 'background-color': product.productGroupIcon.color }"
            >
              <custom-icon
                [iconData]="product.productGroupIcon.icon"
              ></custom-icon>
            </div>
          </div>
          <div class="col-3">
            <div class="product-name-container">
              <div class="product-title">
                {{ product.name }}
              </div>
              <div
                class="product-group"
                [ngStyle]="{ color: product.productGroupIcon.color }"
              >
                {{ product.productGroupName }}
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="amount-container">
              <div class="form-input">
                <div class="input-group">
                  <input
                    [readonly]="true"
                    type="text"
                    class="form-control shadow-none"
                    [value]="product.amount"
                  />
                </div>
              </div>
              <span class="grams">g</span>
            </div>
          </div>
          <div class="col-3 consumed-checkbox">
            <mat-checkbox
              [checked]="product.consumed"
              [disabled]="!allowUpdate"
              >{{ "CALENDAR_CONSUMED" | translate }}</mat-checkbox
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
