@import "../../../../styles/variables";

.action-container {
  width: 20%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.meal-plan-type-container {
  display: flex;
  justify-content: space-around;

  .meal-plan-type {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .image {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 150px;
      height: 150px;
      &:hover {
        cursor: pointer;
        background: $success-color;
      }
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      border-radius: 0.5rem;
      -webkit-border-radius: 0.5rem;
      -moz-border-radius: 0.5rem;
      -ms-border-radius: 0.5rem;
      -o-border-radius: 0.5rem;
    }

    .title {
      margin-top: 0.5rem;
      font-size: 1.2em;
      font-weight: bold;
    }
  }

  .selected-type {
    background: $success-color;
  }
}
